language: java
jdk:
  - oraclejdk8
sudo: false
branches:
  only:
    # Only build (and deploy) pushes tagged with a version number
    - /^v2.*$/
env:
  global:
    - secure: dGzZ9hl0ezUCYs72+Z4LUgtny0qsUn3HibpBKo4hriRPMY8EQqaJfi1ZDQTKr3ctjJMtQtcgnlC0BujEV+1W2tObjSJsCAdEbzKYZijwRXSK5jT1sua3EQScKYelpv0z4fd9LIYJJ95xwXMNMmAFSjdu3fRDkxtGgIIKbka8YiE=
  matrix:
    - MC=1.10
    - MC=1.9
    - MC=1.8
git:
    submodules: false
notifications:
  email: false
before_install:
  # change from ssh to https to allow travis to fetch sources
  - sed -i 's/git@github.com:/https:\/\/github.com\//' .gitmodules
  - git submodule update --init --recursive
  # Change the maven-version to be the tag (for the API deploy)
  # Skip the 'v'
  - mvn versions:set -Dtravis.buildNumber=${TRAVIS_BUILD_NUMBER} -DnewVersion=${TRAVIS_TAG:1}
  - cd uSkyBlock-Core/src/main/po && perl en2pirate.pl && cd -
  - cd uSkyBlock-Core/src/main/po && perl en2kitteh.pl && cd -
script:
  - mvn -nsu -Dtravis.buildNumber=${TRAVIS_BUILD_NUMBER} -DskipTests=true -Pi18n,${MC},we613,wg611 clean install
before_deploy:
  - mv uSkyBlock-Plugin/target/uSkyBlock.jar uSkyBlock-Plugin/target/uSkyBlock-bukkit${MC}.jar
deploy:
  provider: releases
  api-key: ${GITHUB_TOKEN}
  file_glob: true
  file:
  - uSkyBlock-Plugin/target/uSkyBlock*.jar
  - uSkyBlock-Plugin/target/uSkyBlock-Plugin/gettext-report.txt
  - uSkyBlock-API/target/uSkyBlock-API-*.jar
  skip_cleanup: true
  on:
    tags: true
    all_branches: true
after_success:
  # Deploy API to the GitHub maven repo
  - mvn -nsu deploy -DGITHUB_TOKEN=${GITHUB_TOKEN}
cache:
  directories:
  - $HOME/.m2
