language: java
jdk:
- openjdk16
sudo: false
cache:
  directories:
    - "$HOME/.m2"
git:
  submodules: false
notifications:
  email: false
before_install:
- sed -i 's/git@github.com:/https:\/\/github.com\//' .gitmodules
- git submodule update --init --recursive
- cd uSkyBlock-Core/src/main/po && perl en2pirate.pl && cd -
- cd uSkyBlock-Core/src/main/po && perl en2kitteh.pl && cd -
install:
- mvn -nsu -Dtravis.buildNumber=${TRAVIS_BUILD_NUMBER} -Pi18n clean deploy
before_deploy:
  - openssl aes-256-cbc -K $encrypted_a65247dffca0_key -iv $encrypted_a65247dffca0_iv
    -in deploy_rsa.enc -out ./deploy_rsa -d
  - eval "$(ssh-agent -s)"
  - chmod 600 deploy_rsa
  - ssh-add deploy_rsa
  - chmod +x scripts/deploy-staging.sh
  - chmod +x scripts/deploy-release.sh
  - chmod +x scripts/deploy-117.sh
deploy:
  - provider: script
    skip_cleanup: true
    script: bash scripts/deploy-staging.sh
    on:
      branch: "master"
  - provider: script
    skip_cleanup: true
    script: bash scripts/deploy-release.sh
    on:
      tags: true
  - provider: script
    skip_cleanup: true
    script: bash scripts/deploy-117.sh
    on:
      branch: "bukkit-1.17"
